.authentication-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: #D66AE6;
}

.authentication-form {
    margin: 0 50px 30px;
}

.input-box {
    display: flex;
    align-items: flex-end;
    border: 2px solid white;
    margin-bottom: 30px;
    padding: 5px;
}

.input-box input {
    font-size: 1.1rem;
    width: 100%;
    padding: 20px;
    border: none;
}

.input-box .icon {
    max-height: 3rem;
    width: 2rem;
    padding-bottom: 20px;
    padding-right: 10px;
}

.input-box input:focus {
    outline: none;
}

.auth-button {
    margin: 0 auto;
}

.login-logo {
    max-height: 250px;
    display: block;
    margin: 0 auto;
}

.auth-text {
    margin: 12px;
    padding: 20px 50px;
    display: block;
    text-align: center;
}

#login-text {
    margin-top: 0;
    padding-top: 0;
}

