.authentication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f7feff;
    padding: 30px 5%;
}

.authentication-wrap {
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.highlight {
    color: #D66AE6;
}

.authentication-form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-bottom: 35px;
   }

.input-box {
    font-size: 1.3em;
    display: flex;
    align-items: flex-end;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 5px;
}

.input-box input {
    font-size: 1.1rem;
    width: 100%;
    padding: 20px;
    border: none;
    color: white;
    transition: 0.5s;
}

.input-box .icon {
    max-height: 3rem;
    width: 2rem;
    padding-bottom: 20px;
    padding-right: 10px;
    color: white;
}

.input-box input:focus {
    outline: none;
}

.authentication-button {
    font-size: 1.2rem;
    color: #f7feff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    min-width: 35%;
    min-height: 35px;
    margin-top: 20px;
}

.login-logo {
    max-height: 250px;
}

.login-text, .register-text {
    display: block;
    text-align: center;
}

.login-text {
    margin: 30px 12px 12px;
    padding: 0px 50px 25px;
}

.register-text {
    margin: 30px 12px 12px;
    padding: 20px 50px;
}