.authentication-form {
    margin: 0 50px 30px;
}

.input-box {
    display: flex;
    align-items: flex-end;
    border: 2px solid white;
    margin-bottom: 30px;
    padding: 5px;
}

.input-box input {
    font-size: 1.1rem;
    width: 100%;
    padding: 20px;
    border: none;
}

.input-box .icon {
    padding: 0px 10px 20px 0px;
}

.auth-button, .login-logo {
    margin: 0 auto;
}

.login-logo {
    max-height: 250px;
}

.auth-text {
    margin: 12px;
    padding: 20px 50px;
}

#login-text {
    margin-top: 0;
    padding-top: 0;
}

.white-border{
    border: 2px solid white;
  }