.createTicket{
  width:800px;
}

.createTicket h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.createTicket h3 {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createTicket h6 {
  text-align: left;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createTicket input[type="text"],
.createTicket select,
.createTicket textarea , .modal>article textarea{
  margin-left: -20px;
  width: 100%;
  padding: 15px 15px;
  background: transparent;
  border: none;
  color:#fff ;
  border-bottom: 2px solid #fff;
  font-size: 14px;
  transition: 0.5s;
  resize: none;
}

.createTicket input[type="text"]:focus,
.createTicket select:focus,
.createTicket textarea:focus {
  outline: #D66AE6;
  border-color: #D66AE6;
}

.createTicket select {
  margin-left: -20px;
  width: 100%;
  padding: 15px 15px;
  background: transparent;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
  appearance: none;
}

.description{
  margin-bottom: 2rem;
}

#tag-container{
  display: flex;
  overflow-x: auto;
}

.tag-block{
  margin: 10px;
  min-width: fit-content;
  background-color: rgba(214, 106, 230, 0.7);  
  border: 2px solid #D66AE6;
  padding: 5px 10px;
  border-radius: 5px;
}

.tag-block *{
  background-color: transparent;
}

.tag-block span{
  margin-right: 5px;
}

.tag-block button{
  border: none;
}

