.departments-bar {
    display: flex;
    margin: 30px 6%;
    justify-content: space-between;
    align-items: center;
}

.departments-bar span {
    font-size: 2em;
    color: #D66AE6;
    font-weight: bold;
}

.departments-bar button {
    text-align: center;
    font-size: 1.2rem;
    color: #f7feff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    min-width: 200px;
    min-height: 35px;
}

.departments {
    margin: 3% 5% 5% 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, max-content);
    grid-gap: 30px;
}

.department {
    position: relative;
    text-align: center;
}

.department img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid white;
}

.department img:hover {
    border: 2px solid #D66AE6;
}

.department span {
    font-size: 2.5em;
    background-color: transparent;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    text-align: center;
    margin: auto;
    padding: 20px 30px;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#department-name {
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
    padding: 20px;
    transition: 0.5s;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 5px;
}

#department-name:focus {
    border: 2px solid #D66AE6;
    outline: none;
}

#department-modal img {
    display: block;
    margin: auto;
    max-width: 100%;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 10px;
}

#department-modal form {
    text-align: center;
    align-items: center;
}

.modal-title{
    font-size: 2em;
    font-weight: bold;
    color: #D66AE6;
}


.department-content {
    display: flex;
    margin: 50px 6%;
}

/* Style for the tickets container */
.tickets-container {
    width: 80%;
    padding-right: 20px;
    /* add some spacing between columns */
}

/* Style for the members container */
.members-container {
    width: 20%;
    align-items: center;
    align-content: center;
}

.members-container h3{
    text-align: center;
    font-size: 2em;
    color: #44C4D9;
    margin-bottom: 30px;
}

.member{
    margin-top: 15px;
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px;
}

.member img{
    margin-right: 20px;
}

.member span{
    text-align: center;
    font-weight: bold;
}

.member:hover{
    border: 2px solid #D66AE6;
}

#add-member-container {
    margin-top: 15px;
    text-align: center;
    font-size: 1.2rem;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 100%;
    min-height: 70px;
}