.departments, .assignable-departments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.department-card {
    position: relative;
    text-align: center;
    margin: 1rem;
    margin-top: 0;
}

.department-card img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}


.department-card strong {
    font-size: 180%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.department-card:hover {
    opacity: 90%; /* Reduce the opacity when hovering */
  }
  
  .department-card:hover strong {
    color: var(--main-blue); /* Change the text color when hovering */
  }
  

.contain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 4rem auto 4rem;
}

.contain article {
    background-color: #282948;
    padding: 2vh;
    width: auto;
    height: auto;
    justify-self: center;
    position: relative;
}


.contain article h3 {
    font-size: 3vh;
    margin: 1vh 1vh 2vh 1vh;
    background-color: transparent;
}


.contain article h3::before {
    width: 0.7em;
    height: 0.7em;
    margin-right: 15px;
}

.container article h3::before, .sidebar h2::before {
    content: '';
    display: inline-block;
    background-color: #814FED;
}

#dept-members {
    max-height: 55vh;
    float: left;
    overflow-y: auto;
    margin-right: 0;
}

#dept-members-img {
    height: 10vh;
    width: 10vh;
    position: relative;
    left: 3vh;
}

.dept-member {
    display: flex;
    margin: 10px 20px 10px 0px;
    background-color: transparent;
    align-items: center;
}

.dept-member strong {
    background-color: #434A74;
    padding: 2.5vh 5vh;
    width: 80%;
    font-weight: bold;
    border-radius: 0px 5vh 5vh 0px;
    font-size: 2.5vh;
}

#department-tickets header {
    margin-bottom: 10px;
}

.graphics {
    background-color: transparent;
    max-height: 45vh;
}

.warning {
    font-size: 1.2em;
    margin-top: 30px;
}

.no-members {
    margin: 0 auto;
}

#department-title{
    margin: auto 9rem;
}


#dept-ticket-status, #dept-ticket-priority, #dept-members{
    align-items: center;
    margin: auto;
}