.departments, .assignable-departments {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(auto, max-content);
    grid-gap: 30px;
}

.department-card {
    position: relative;
    text-align: center;
    margin: 20px;
    margin-top: 0;
}

.department-card img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}


.department-card img.selected {
    border: 4px solid #D66AE6;
}

.department-card strong {
    font-size: 200%;
    background-color: transparent;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-bottom: 50px;
}

.container article {
    background-color: #282948;
    padding: 2vh;
    width: 55vh;
    height: 55vh;
    justify-self: center;
}


.container article h3 {
    font-size: 3vh;
    margin: 1vh 1vh 2vh 1vh;
    background-color: transparent;
}

.container article h3::before{
    width: 0.7em;
    height: 0.7em;
    margin-right: 15px;
}

.container article h3::before, #properties>h2::before {
    content: '';
    display: inline-block;
    background-color: #814FED;
}

#dept-members {
    max-height: 55vh;
    float: left;
    overflow-y: auto;
    margin-right: 0;
}

#dept-members-img {
    height: 10vh;
    width: 10vh;
    position: relative;
    left: 3vh;
}

.dept-member {
    display: flex;
    margin: 10px 20px 10px 0px;
    background-color: transparent;
    align-items: center;
}

.dept-member strong {
    background-color: #434A74;
    padding: 2.5vh 5vh;
    width: 80%;
    font-weight: bold;
    border-radius: 0px 5vh 5vh 0px;
    font-size: 2.5vh;
}

#department-tickets header {
    margin-bottom: 10px;
}

.graphics {
    background-color: transparent;
    max-height: 45vh;
}

.warning {
    font-size: 1.2em;
    margin-top: 30px;
}

.no-members {
    margin: 0 auto;
}