.user-profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.upload-form {
  margin-top: 20px;
}

.container article h2{
  position: relative;
  font-size: 5vh;
  margin: 25px 0;
  background-color: transparent;
}

.user-details table{
    border-collapse: separate;
    width: 100%;
    max-height: 40vh;
    border-spacing: 1vh 2vh;
    background-color: transparent;
}

#user-tkt{
  max-height: 40vh;
  max-width: 40vh;
}

.field, .info {
  padding: 10px 20px;
}

.info{
  background-color: #44C4D9;
  color: black;
}

.field{
  background-color: #D66AE6;
}

.profile-picture img{
  height: 70%;
  width: 70%;
}

.profile-picture h4 {
  margin: 20px;
  font-size: 2em;
  background-color: transparent;
}

.edit-profile{
  display: flex;
}

.no-tickets{
  display: block;
  margin: 0 auto;
}

.no-members{
  width: 300px;
  height: 300px;
}

.no-background{
  background-color: transparent;
}