.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.user-profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  height: 100%;
}

.user-profile {
  text-align: left;
  padding: 0 1.5rem;
  width: auto;
  margin-top: -1.5rem;
}

.user-avatar-container img {
  width: 400px;
  height: 400px;
  top: 150px;
  left: 100px;
  position: absolute;
  text-decoration: none;
  color: #f7feff;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#edit-button{
  top: 600px;
  left: 150px;
  position: absolute;
  text-decoration: none;
  color: #f7feff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#edit-button span{
  display: block;
  padding: 8px 120px;
}


.user-details{
  position: absolute;
  top: 700px;
  left: 230px;
  display: inline;
  text-align: center;
}

.user-details ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-details li{
  font-size: 1.2em;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.highlight {
  color: #D66AE6;
}

.navbar {
  position: fixed;
  top: 100px;
  left: 530px;
  width: 100%;
  
}

.navbar ul {
  display: inline-flex;
  margin: 50px;
  list-style: none;
}

.navbar li{
  padding: 5px 20px;
  text-decoration: none;
  list-style: none;
  margin: 0 20px;
  color: #f7feff;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
}

.navbar li:hover {
  color: #D66AE6;
}

.overview, .my-tickets, .stars, .messages{
  position: fixed;
  top: 250px;
  left: 600px;
  width: 63%;
  height: 60%;
  border: 2px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
  background-origin: border-box;
  background-clip: content-box, border-box;
}