* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222033;
    font-family: sans-serif;
    color: white;
}

main{
    margin: 30px 6%;
}

li,a, button {
    text-decoration: none;
    font-size: 1.1rem;
}

.vert-flex{
    display: flex;
    flex-direction: column;
}

.gradient{
    border: 2px solid transparent;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;    
}

.round-border{
    border-radius: 20px;
}

.circle-border{
    border-radius: 50%;
}

.center{
    align-items: center;
    text-align: center;
    justify-content: center; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6% 3% 5%;
}

.logo {
    cursor: pointer;
    max-height: 100px;
    margin-right: 40px;
}

.nav_links {
    list-style-type: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover, .highlight, .dropdown-content a:hover {
    color: #D66AE6;
}

.button-wrap button{
    padding: 8px 22px;
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-wrap {
    text-align: center;
    width: fit-content;
    max-width: 250px;
}

.button-wrap:hover{
    background-image: linear-gradient(#D66AE6, #44C4D9), radial-gradient(circle at top left, #222033, #222033);
    color: black;
}

.buttons {
    margin-left: auto;
    padding: auto;
    display: flex;
    align-items: center;
}

.two-button-wrap:first-child {
    margin-right: 20px;
}

.buttons img {
    max-width: 3em;
}

.buttons img {
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.buttons .username {
    color: #D66AE6;
    padding-left: 10px;
    font-weight: bold;
}

.dropbtn {
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown:hover .dropdown-content {
    display: block;
    align-items: center;
    align-content: center;
}

.sign-out-button {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.sign-out-button span{
    padding: 12px 16px;
}

.sign-out-button span:hover{
color:#D66AE6
}


.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #f7feff;
}

.corner-text{
    width: 50%;
    float: left;
}
.corner-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.corner-text p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #859bb4;

}

.gif{
    width: 50%;
    float: right;
}

.gif img{
    width: 100%;
}


#messages article {
    margin: 1em 0;
    padding: 1em;
  }
  
  #messages article.success {
    background-color: #DFF2BF;
    color: black;
  }
  
  #messages article.warning {
    background-color: #FEEFB3;
    color: black;
  }
  
  #messages article.error {
    background-color: #FFD2D2;
    color: black;
}
  
  #messages article.info {
    background-color: #BDE5F8;
    color: black;
}
 