* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222033;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;

}

main {
    margin: 30px 4%;
}

li,a, button {
    font-size: 1.1rem;
}

.vert-flex {
    display: flex;
    flex-direction: column;
}

*:focus {
    outline: none;
}

.bold {
    font-weight: bold;
}

.gradient {
    border: 2px solid transparent;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.round-border {
    border-radius: 20px;
}

.circle-border {
    border-radius: 50%;
}

.center {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.block {
    display: block;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6% 1% 5%;
}

.logo, button, #fileUploadForm img{
    cursor: pointer;
}

.logo {
    max-height: 100px;
    margin-right: 40px;
}

.nav_links {
    list-style-type: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover, .highlight, .dropdown-content a:hover {
    color: #D66AE6;
}

.button-wrap button {
    padding: 8px 22px;
    display: block;
    background-color: transparent;
    border: none;
}

.button-wrap {
    text-align: center;
    width: fit-content;
}

.button-wrap:hover {
    background-image: linear-gradient(#D66AE6, #44C4D9), radial-gradient(circle at top left, #222033, #222033);
    color: black;
}

.buttons {
    margin-left: auto;
    padding: auto;
    display: flex;
    align-items: center;
}

.buttons div:nth-child(2), .card-buttons div:nth-child(2) {
    margin-left: 20px;
}

.dropdown img {
    width: 3em;
    height: 3em;
}

.dropdown .username {
    color: #D66AE6;
    padding-left: 10px;
    font-weight: bold;
}

.dropbtn {
    border: none;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-selected {
    display: block;
}








#container{
    width: 80%;
    height: 70%;
    margin: auto;
    display: flex;
    color: #f7feff;
}

.corner-text{
    width: 50%;
    float: left;
}
.corner-text h1{
    font-size: 43px;
    width: 320px;
    position: relative;
    margin-left: 40px;
    align-items: center;
    margin-top: 30px;
}

.corner-text p{
    width: 650px;
    font-size: 16px;
    margin: 10px 0 30px 40px;
    line-height: 25px;
    color: #859bb4;
    align-items: center;

}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: #D66AE6;
    margin: 10px 0 30px 40px;
    border-radius: 0.5rem;
}
.btn:hover{
    transform: scale(1.2) translateY(1px);
    transition: .4s;
}
.gif{
    width: 50%;
    float: right;
    margin-top: 30px;
}

.gif img{
    width: 100%;
}


#messages article {
    margin: 1em 0;
    padding: 1em;
  }
  
  #messages article.success {
    background-color: #DFF2BF;
    color: black;
  }
  
  #messages article.warning {
    background-color: #FEEFB3;
    color: black;
  }
  
  #messages article.error {
    background-color: #FFD2D2;
    color: black;
}
  
  #messages article.info {
    background-color: #BDE5F8;
    color: black;
}


.categories{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 1vw auto;
    position: relative;
    width: 94vw;
}
.categories .heading-title{
    margin-bottom: 2em;
    font-size: 40px;
    position: relative;
    margin-left: 15px;
    align-items: center;
}

  
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 1vw auto;
    position: relative;
    text-align: center;
    width: 94vw;
  }
  
  .product {
    flex: auto;
    width: 200px;
    font-size: 1.5rem;
    margin: 0 1vw calc(1vw + 50px) 1vw;
    min-width: calc(33% - 2vw);
    position: relative;
  }
  
  .product:before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  
  .content {
    background: white;
    border-radius: 30%;
    height: 84%;
    margin: 8%;
    position: absolute;
    width: 84%;
    vertical-align: middle;
    z-index: 5000;
  }
  
  .product:hover .effect-1,
  .product:hover .effect-2 {
    display: block;
  }
  
  .effect-1,
  .effect-2 {
    border-radius: 30%;
    display: none;
    mix-blend-mode: normal;
    height: 84%;
    opacity: 1;
    position: absolute;
    width: 84%;
    z-index: 3000;
  }
  
  .effect-1 {
    animation: rotate 1.8s linear infinite;
    background: cyan;
  }
  
  .effect-2 {
    animation: rotate 1.2s linear reverse infinite;
    background: #e7a9ff;
  }
  
  @keyframes rotate {
    0% {
      top: 0;
      left: 8%;
    }
    25% {
      top: 8%;
      left: 0%;
    }
    50% {
      top: 16%;
      left: 8%;
    }
    75% {
      top: 8%;
      left: 16%;
    }
    100% {
      top: 0;
      left: 8%;
    }
  }
  
  .title {
    position: relative;
    top: calc(100% + 16px);
  }
  
  .title span {
    display: block;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    margin-top: 8px;
    text-transform: uppercase;
  }
  
  .exercise {
    background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    border-radius: 5px;
    height: 50%;
    margin: 25%;
    width: 50%;
  }
  
  .sleep {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 50%;
    height: 50%;
    margin: 25%;
    width: 50%;
  }
  
  .meditation {
    background-image: linear-gradient(
      to top,
      #f3e7e9 0%,
      #e3eeff 99%,
      #e3eeff 100%
    );
    border-radius: 5px;
    height: 40%;
    margin: 30%;
    transform: rotate(45deg);
    width: 40%;
  }
  
  .twitter {
    background-image: linear-gradient(
      to top,
      #1e3c72 0%,
      #1e3c72 1%,
      #2a5298 100%
    );
    border-radius: 14px;
    bottom: 20px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 28px;
    padding: 0 12px;
    position: fixed;
    right: 20px;
    z-index: 5000;
  }
  
  
  