*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: #222033;
}

html, body{
    height: 100%;
}

.menu{
    position: fixed;
    top:0;
    left:0;
    width: 100%;}

.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #f7feff;
    cursor: pointer;
}

.logo img{
    width: 80px;
    margin-top: -30px;
    margin-right: 48px;
}

.active a{
    color: #D66AE6 !important;
    font-weight: bold;
    text-decoration: none;
}

.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #f7feff;
}

.corner-text{
    width: 50%;
    float: left;
}
.corner-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.corner-text p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #859bb4;

}

.gif{
    width: 50%;
    float: right;
}

.gif img{
    width: 100%;
}

.sign-up-button {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #f7feff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.sign-in-button span, .sign-up-button span{
    display: block;
    padding: 8px 22px;
}

.sign-in-button{
    top: 40px;
    right: 200px;
    position: absolute;
    text-decoration: none;
    color: #f7feff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#222033, #222033), radial-gradient(circle at top left, #D66AE6, #44C4D9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}


#messages article {
    margin: 1em 0;
    padding: 1em;
  }
  
  #messages article.success {
    background-color: #DFF2BF;
  }
  
  #messages article.warning {
    background-color: #FEEFB3;
  }
  
  #messages article.error {
    background-color: #FFD2D2;
  }
  
  #messages article.info {
    background-color: #BDE5F8;
  }
  