
.filter-condition{
  font-size: 1.2em;
  padding: 10px 15px;
  margin-right: 20px;
}

.tickets{
  width: 100%;
}

.ticket, .ticket-info{
  display: grid;
  grid-template-columns: 1fr 3.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  margin: 10px 0px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;  
}

.ticket:hover, .user-card:hover, .department-card img:hover {
  border: 3px solid #D66AE6;
}

.ticket img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.ticket {
  cursor: pointer;
}

.status{
  padding: 10px;
}

#open-status{
  background-color: #FFBD59;  
}

#new-status{ 
  background-color: #5271FF; 
}

#assigned-status{ 
  background-color: #D66AE6; 
}

#solved-status{
  background-color: #7ED957;
}

#closed-status{
  background-color: #FF5757;
}

#low-priority{
  color: #7ED957;
}

#medium-priority{
  color: #FFBD59;
}

#high-priority, #critical-priority, #high-priority::after, #critical-priority::after{
  color: #FF5757;
}

#high-priority::after{
  content: "!";
}

#critical-priority::after{
  content: "!!!";
}

.pagination-bar {
	display: flex;
}

.pagination-bar button {
	width: 50px;
	height: 50px;
	border: none;
	margin: 5px;
	transition: 0.4s;
  font-weight: bolder;
}

.pagination-bar button:hover, .pagination-bar button.active {
  color: #D66AE6;
  font-weight: bolder;
}

#respond{
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 15px;
  background-color: #282948;
  padding: 15px;
  border-radius: 10px;
}

#respond button{
  border: none;
}

#faq-button span{
  background-color: white;
  color: #282948;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

#message-input {
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
}



.replier-msg{
  width: 60%;
  background-color: #ff5ee4;
  margin: 10px;
  padding: 10px;
}

.creator-msg{
  align-self: flex-end;
  width: 60%;
  background-color: #D66AE6;
  margin: 10px;
  padding: 10px;
}
