.ticket, .ticket-info{
  display: grid;
  grid-template-columns: 100px 3.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  margin: 10px 0px;
  padding: 20px;
  font-weight: bold;
  list-style-type: none;
}

.ticket{
  font-size: 1.2em;
}

.ticket:hover{
  border: 3px solid #D66AE6;
}

.ticket img {
  width: 90px;
  height: 90px;
}

.ticket-info li{
  font-size: 1.3em;
}

.status{
  padding: 10px;
  border-radius: 20px;
}

#open-status{
  background-color: #FFBD59;  
}

#new-status{ 
  background-color: #5271FF; 
}

#solved-status{
  background-color: #7ED957;
}

#closed-status{
  background-color: #FF5757;
}

#low-priority{
  color: #7ED957;
}

#medium-priority{
  color: #FFBD59;
}

#high-priority, #critical-priority{
  color: #FF5757;
}

#high-priority::after{
  content: "!";
  color: #FF5757;
}

#critical-priority::after{
  content: "!!!";
  color: #FF5757;
}

.filter-condition{
  font-size: 1.2em;
  padding: 10px 15px;
  margin-right: 20px;
}