
.filter-condition{
  font-size: 1.2em;
  padding: 10px 15px;
  margin-right: 20px;
}

.tickets{
  width: 100%;
}

.ticket, .ticket-info{
  display: grid;
  grid-template-columns: 1fr 3.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  margin: 10px 0px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;  
}

.ticket:hover, .user-card:hover, .department-card img:hover {
  border: 3px solid #D66AE6;
}

.ticket img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.ticket {
  cursor: pointer;
}

.status{
  padding: 10px;
}

#open-status{
  background-color: #FFBD59;  
}

#new-status{ 
  background-color: #5271FF; 
}

#assigned-status{ 
  background-color: #D66AE6; 
}

#solved-status{
  background-color: #7ED957;
}

#closed-status{
  background-color: #FF5757;
}

#low-priority{
  color: #7ED957;
}

#medium-priority{
  color: #FFBD59;
}

#high-priority, #critical-priority, #high-priority::after, #critical-priority::after{
  color: #FF5757;
}

#high-priority::after{
  content: "!";
}

#critical-priority::after{
  content: "!!!";
}

.pagination-bar {
	display: flex;
}

.pagination-bar button {
	width: 50px;
	height: 50px;
	border: none;
	margin: 5px;
	transition: 0.4s;
  font-weight: bolder;
}

.pagination-bar button:hover, .pagination-bar button.active {
  color: #D66AE6;
  font-weight: bolder;
}


























/*ticket page*/

#ticket-page {
  display: flex;
  align-items: space-between;
}

#tkt {
  flex: 1;
  margin: 20px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
}

#tkt h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#tkt h3{
  font-weight: lighter;
}

#ticket-text{
  margin: 40px 0px;
  font-size: 1.2rem;
  padding: 20px;
  background-color: #1A1725;
  border: 5px solid #814FED;
  text-align: justify;
}

#tkt hr{
  margin: 40px 0px;
}

#ticket-messages header{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.ticket-msg{
  display: grid;
  grid-column-gap: 10px;
  margin-bottom: 20px;
  align-items: center;

}

.replier-msg{
  grid-template-columns: 3em 1fr;
  grid-template-rows: auto 1fr;
}

.creator-msg{
  grid-template-columns: 1fr 3em;
  grid-template-rows: 1fr auto;
}

#ticket-messages img{
  height: 3em;
  width: 3em;
  padding: 5px;
}

.replier-msg img {
  border: 4px solid #D66AE6;
  grid-row: 1;
  grid-column: 1;
}

.creator-msg img {
  border: 4px solid #814FED;
  grid-row: 1;
  grid-column: 2;
}

.message-content{
  background-color: #1A1725;
  width: 65%;
  text-align: justify;
  padding: 15px;
  font-size: 1rem;
}

.replier-msg .message-content {
  grid-row: 2; 
  grid-column: 2; 
  border: 4px solid #D66AE6;
}

.creator-msg .message-content {
  grid-row: 2; 
  grid-column: 1; 
  justify-self: end;
  border: 4px solid #814FED;
}

#ticket-messages span{
  font-size: 1.2em;
  font-weight: bold;
}

.creator-msg span, .message-date{
  text-align: end;
}

.message-date{
  margin-top: 10px;
  font-size: 0.8em;
}

#respond{
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 20px;
  background-color: #282948;
  padding: 15px;
  border-radius: 10px;
  margin-top: 40px;
}

#respond button{
  border: none;
}

#faq-button span{
  background-color: white;
  color: #282948;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

#message-input {
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.2em;
}
