/* Ticket Form */
#ticket {
    border: 2px solid #D66AE6;
    margin-bottom: 20px;
    padding: 10px;
    
}
.ticket-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
  }
.edit{
    max-height: 40px;
}
.ticket-info{
    display: flex;
    align-items:center;
}
.ticket-title {
    font-size: 24px;
    font-weight: bold;
  }
.assigned{
    font-size: 20px;
    font-weight: bold;
}
  .ticket-creator-small {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .ticket-dep, .round-border status, .ticket-priority, .ticket-visibility{
    margin-left: 20px;
    font-weight: bold;
  }
  
  .ticket-date {
    font-weight: bold;
  }
  

#ticket a.ticket:hover {
    border: 3px solid #D66AE6;
}


#ticket .description {
    padding-top: 10px;
    border: 2px solid #D66AE6;
}
#ticket .desc{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.1em;
}

#ticket .messages {
    margin-top: 20px;
}

#ticket .messages .message-container-creator {
    display: flex;
    flex-direction: column;
    margin-left:10em;
    margin-bottom: 10px;
}

#ticket .messages .message-container-replier {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#ticket .messages .message {
    margin-top: 10px;
    padding: 10px;
    padding: 10px;
    padding: 10px;
    border: 2px solid #D66AE6;
    border-radius: 5px;
}

#ticket .messages .message .sender {
    font-weight: bold;
    margin-right: 5px;
}

#ticket .messages .message .text {
    color: #ffffff;
    margin: 5px 0;
}

#ticket .messages .message .time {
    font-size: 0.8em;
    color: #999;
}

#ticket .history {
    margin-top: 20px;
    font-size: 1.1em;
    color: #ff0000;
}

#ticket .history span {
    display: block;
    margin-bottom: 10px;
}

#ticket .tags {
    margin-top: 20px;
}

#ticket .tags span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #d04545;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
}
#ticket .status-date span{
    text-align: left;
}

.same-sender {
    margin-top: -10px;
    padding-top: 10px;
}