.search-bar{
  display: flex;
  margin: 2rem;
}

.search-box, .filter-select, .order-condition{
  padding: 10px 15px;
  font-size: 1.2em;
  color: white;
} 

.search-box{
  display: flex;
  justify-content: space-between;
}

#search-user, .order-select, #search-ticket, .filter-criteria, #faq-bar{
  flex: 1;
  font-size: 1.1rem;
  margin-right: 10px;
  border: none;
  background-color: var(--background-color);
}

.filter-select, .order-condition{
  margin-left: 20px;
  background-color: var(--background-color);
}

.user-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(auto, max-content);
  grid-gap: 20px;
}

.user-card{
  width: auto;
  height: auto;
  padding: 10px 20px;
  overflow-x: auto;
}

.card-type{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.clients{
  display: flex;
  padding: 30px;
}

.type {
  display: flex;
  font-size: 1.3em;
  height: 2.5em;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 15px 0px 30px 15px;
  
}

.client-card-type{
  background-color: var(--main-blue);
}

.client-card-border{
  border: 5px solid var(--main-blue);
}

.agent-card-type{
  background-color: var(--yellow);
}

.agent-card-border{
  border: 5px solid var(--yellow);
}

.admin-card-type{
  background-color: var(--green);
}

.admin-card-border{
  border: 5px solid var(--green);
}

.rep {
  border: 3px solid var(--orange);
  color: var(--orange);
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  height: 2.5em;
  width: 2.5em;
  line-height: 30px;
  font-size: 2em;
}

.user-card img, .upgrade-modal img{
  background-color: #0D0721;
  max-height: 300px;
  object-fit: cover;
  margin: auto;
  padding: 1rem;
}

.card-details{
  margin-top: 10px;
}

.card-details .card-name{
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-buttons{
  margin: 30px 0px;
  display: flex;
}

